.card {
  border-top: 2px solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 150px;
  border-inline-start: 2px solid;
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
}
