<app-modal-header
  [title]="'fees.simulateFee.title' | translate"
></app-modal-header>
<div class="content">
  <form [formGroup]="feeForm" class="flex flex-col gap-3">
    <section class="flex w-full flex-col gap-3 p-2 rounded-md">
      <div class="flex gap-3">
        <app-qr-select
          formControlName="feeProfileId"
          [controlName]="'feeProfileId'"
          [parentGroup]="feeForm"
          [options]="feesProfiles"
          [label]="'fees.addFee.currency' | translate"
          [placeholder]="'fees.addFee.selectCurrency' | translate"
          [required]="true"
          class="w-1/2"
        ></app-qr-select>
        <app-qr-input-number
          [placeholder]="'fees.addFee.examplePlaceholder' | translate"
          formControlName="amount"
          [controlName]="'amount'"
          [parentGroup]="feeForm"
          [unit]="'XOF'"
          [label]="'fees.simulateFee.amount' | translate"
          class="w-1/2"
        ></app-qr-input-number>
      </div>

      <section
        class="flex w-full flex-wrap p-4 rounded-md justify-between gap-3"
        *ngIf="showDetails"
      >
        <div
          class="flex flex-col gap-2 w-1/4"
          *ngFor="let detail of details; let i = index"
        >
          <label>{{ detail.label | translate }}</label>
          <p>{{ detail.value }} <span *ngIf="i !== 3">XOF</span></p>
        </div>
      </section>
    </section>
  </form>
</div>
<app-modal-footer
  [submitText]="'fees.simulateFee.simulate' | translate"
  (isSubmitted)="submit()"
></app-modal-footer>
