.custom-container {
  width: 100dvw;
  height: 100dvh;
  background: url("../../../../assets/bg.jpg");
}
textarea {
  resize: none;
  border-radius: 8px;
  height: 80px;
  border: 1px solid #e5e7eb;
  &:hover {
    border-color: #40a9ff;
  }
  &:focus,
  :focus-visible {
    border-color: #40a9ff;
    outline: none;
  }
  &:read-only {
    background: #f5f5f5;
    cursor: not-allowed;
    border-color: #e5e7eb;
    color: #b6b6b6;
  }
}
label {
  font-weight: 600;
  color: #374151;
  font-size: 0.875rem;
}
