<header>
  <div class="headerStart">
    <div class="headerIcon">
      <i
        class="iconI"
        nz-icon
        nzType="plus-circle"
        nzTheme="fill"
        style="color: green"
      ></i>
    </div>
    <div class="headerText">
      <div class="headerTitle">{{ title }}</div>
      <div class="headerDescription">{{ description }}</div>
    </div>
  </div>
  <button class="closePopup" (click)="close()">
    <nz-icon
      nzType="close-circle"
      nzTheme="outline"
      style="font-size: 16px; color: grey"
    />
  </button>
</header>
