header {
  width: 80dvw;
  height: 50px;
  background-color: var(--primary);
  p {
    color: #fff;
  }

  button {
    color: #fff;
    background-color: transparent;
    border: none;
  }
  nz-icon {
    &:hover {
      color: red !important;
      cursor: pointer;
    }
  }
}
