<app-modal-header
  [description]="'wallets.addWallet.description' | translate"
  [title]="'wallets.addWallet.title' | translate"
></app-modal-header>
<div class="content">
  <form [formGroup]="walletForm" class="flex flex-col gap-3">
    <section class="flex w-full flex-col gap-3 p-2 rounded-md">
      <div class="flex items-center w-full justify-between">
        <label>{{ "wallets.addWallet.basicInfo" | translate }}</label>
      </div>
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="'wallets.addWallet.walletName' | translate"
          [placeholder]="'wallets.addWallet.enterWalletName' | translate"
          formControlName="name"
          [controlName]="'name'"
          [parentGroup]="walletForm"
          [required]="true"
        ></app-qr-input>
        <app-qr-select
          formControlName="type"
          [controlName]="'type'"
          [parentGroup]="walletForm"
          [options]="walletTypes"
          [label]="'wallets.addWallet.walletType' | translate"
          [placeholder]="'wallets.addWallet.selectWalletType' | translate"
          class="w-1/2"
        ></app-qr-select>
      </div>
      <div class="flex gap-3">
        <app-qr-select
          formControlName="environment"
          [controlName]="'environment'"
          [parentGroup]="walletForm"
          [options]="types"
          [label]="'wallets.addWallet.environment' | translate"
          [placeholder]="'wallets.addWallet.selectEnvironment' | translate"
          class="w-1/2"
          [required]="true"
        ></app-qr-select>
        <div class="flex gap-2 flex-col w-1/2">
          <label>{{ "wallets.addWallet.description" | translate }}</label>
          <textarea
            class="p-3"
            [placeholder]="'wallets.addWallet.writeDescription' | translate"
            formControlName="description"
          ></textarea>
        </div>
      </div>
    </section>
    <section
      class="flex w-full flex-col gap-3 p-2 rounded-md"
      [ngClass]="{ 'pbt-2': !isOpened[0] }"
    >
      <div
        class="flex items-center w-full justify-between"
        (click)="isOpened[0] = !isOpened[0]"
      >
        <label>{{ "wallets.addWallet.connectionSettings" | translate }}</label>
        <nz-icon
          [nzType]="isOpened[0] ? 'minus' : 'plus'"
          nzTheme="outline"
          style="font-size: 10px"
        ></nz-icon>
      </div>
      <div class="flex gap-3" *ngIf="isOpened[0]">
        <app-qr-input
          class="w-1/2"
          [label]="'wallets.addWallet.baseUrl' | translate"
          [placeholder]="'wallets.addWallet.enterBaseUrl' | translate"
          formControlName="baseUrl"
          [controlName]="'baseUrl'"
          [parentGroup]="walletForm"
        ></app-qr-input>
        <app-qr-input-number
          formControlName="port"
          [controlName]="'port'"
          [parentGroup]="walletForm"
          [label]="'wallets.addWallet.port' | translate"
          class="w-1/2"
          [required]="true"
        ></app-qr-input-number>
      </div>
      <div class="flex gap-3" *ngIf="isOpened[0]">
        <app-qr-input-number
          formControlName="macConnections"
          [controlName]="'macConnections'"
          [parentGroup]="walletForm"
          [label]="'wallets.addWallet.maxConnections' | translate"
          class="w-1/2"
          [required]="true"
        ></app-qr-input-number>
        <app-qr-input-number
          formControlName="connectionTimeout"
          [controlName]="'connectionTimeout'"
          [parentGroup]="walletForm"
          [label]="'wallets.addWallet.timeoutSeconds' | translate"
          class="w-1/2"
          [required]="true"
        ></app-qr-input-number>
      </div>
    </section>
    <section
      class="flex w-full flex-col gap-3 p-2 rounded-md"
      [ngClass]="{ 'pbt-2': !isOpened[1] }"
    >
      <div
        class="flex items-center w-full justify-between"
        (click)="isOpened[1] = !isOpened[1]"
      >
        <label>{{ "wallets.addWallet.securitySettings" | translate }}</label>
        <nz-icon
          [nzType]="isOpened[1] ? 'minus' : 'plus'"
          nzTheme="outline"
          style="font-size: 10px"
        ></nz-icon>
      </div>
      <div class="flex items-center justify-between w-1/2" *ngIf="isOpened[1]">
        <label>{{ "wallets.addWallet.useSslHttps" | translate }}</label>
        <nz-switch formControlName="isHttps"></nz-switch>
      </div>
      <div class="flex gap-3" *ngIf="isOpened[1]">
        <app-qr-input
          class="w-1/2"
          [label]="'wallets.addWallet.apiKey' | translate"
          [placeholder]="'wallets.addWallet.enterApiKey' | translate"
          formControlName="apiKey"
          [controlName]="'apiKey'"
          [parentGroup]="walletForm"
        ></app-qr-input>
        <app-qr-input
          class="w-1/2"
          [label]="'wallets.addWallet.username' | translate"
          [placeholder]="'wallets.addWallet.enterUsername' | translate"
          formControlName="userName"
          [controlName]="'userName'"
          [parentGroup]="walletForm"
        ></app-qr-input>
      </div>
      <div class="flex gap-3" *ngIf="isOpened[1]">
        <app-qr-password
          class="w-1/2"
          [label]="'wallets.addWallet.password' | translate"
          [placeholder]="'wallets.addWallet.enterPassword' | translate"
          formControlName="userPassword"
          [controlName]="'userPassword'"
          [parentGroup]="walletForm"
        ></app-qr-password>
      </div>
    </section>
    <section
      class="flex w-full flex-col gap-3 p-2 rounded-md"
      [ngClass]="{ 'pbt-2': !isOpened[2] }"
    >
      <div
        class="flex items-center w-full justify-between"
        (click)="isOpened[2] = !isOpened[2]"
      >
        <label>{{ "wallets.addWallet.healthCheckSettings" | translate }}</label>
        <nz-icon
          [nzType]="isOpened[2] ? 'minus' : 'plus'"
          nzTheme="outline"
          style="font-size: 10px"
        ></nz-icon>
      </div>
      <div class="flex items-center justify-between w-1/2" *ngIf="isOpened[2]">
        <label>{{ "wallets.addWallet.enableHealthChecks" | translate }}</label>
        <nz-switch formControlName="enableHealthChecks"></nz-switch>
      </div>
      <div class="flex gap-3" *ngIf="isOpened[2]">
        <app-qr-input
          formControlName="healthChechInterval"
          [controlName]="'healthChechInterval'"
          [parentGroup]="walletForm"
          [label]="'wallets.addWallet.healthCheckInterval' | translate"
          [placeholder]="'00:00:00'"
          class="w-1/2"
        ></app-qr-input>
        <div
          class="flex items-center justify-between w-1/2 mt-8"
          *ngIf="isOpened[2]"
        >
          <label>{{ "wallets.addWallet.active" | translate }}</label>
          <nz-switch formControlName="isActive"></nz-switch>
        </div>
      </div>

      <div class="flex gap-3" *ngIf="isOpened[2]">
        <div class="flex gap-2 flex-col w-full">
          <label>{{ "wallets.addWallet.notes" | translate }}</label>
          <textarea
            class="p-3"
            [placeholder]="'wallets.addWallet.writeDescription' | translate"
            formControlName="notes"
          ></textarea>
        </div>
      </div>
    </section>
  </form>
</div>
<app-modal-footer
  [submitText]="'common.saveAndSubmit' | translate"
  (isSubmitted)="submit()"
></app-modal-footer>
