// .login-container {
//   width: 100dvw;
//   height: 100dvh;
//   .left {
//     background-color: var(--primary);
//     h1 {
//       font-size: 30px;
//       color: #fff;
//       font-weight: bold;
//     }
//     p {
//       color: #fff;
//       font-size: 16px;
//     }
//   }
//   .right {
//     background-color: #f4f4f4;
//     .form-container {
//       background-color: #fff;
//       box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.09);
//       h1 {
//         font-size: 20px;
//         color: var(--primary);
//         font-weight: 700;
//       }
//       .forget {
//         color: var(--cyan);
//         font-size: 16px;
//         font-weight: 600;
//         cursor: pointer;
//         text-transform: capitalize;
//       }
//     }
//   }
// }
.login-container {
  width: 100dvw;
  height: 100dvh;
  .left {
    background-color: var(--primary);
    h1 {
      font-size: 30px;
      color: #fff;
      font-weight: bold;
      font-weight: 500;
    }
    p {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .right {
    background-color: #f8fafc;
    .form-container {
      border-radius: 12px;
      background: var(--bg-primary, #fff);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
      padding: 32px var(--Gap-xl3, 24px) 48px var(--Gap-xl3, 24px);
      h1 {
        font-size: 24px;
        color: #1a1d1f;
        font-weight: 600;
      }
      .forget {
        color: #020617;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
  }
  .terms {
    color: var(--text-secondary);
    cursor: pointer;
  }
  .foot {
    span {
      color: var(--text-secondary);
    }
  }
}
.head-form {
  .icon {
    border-radius: 14px;
    border: 1px solid var(--border-primary, #cbd5e1);
    background: var(--bg-black-solid, #0f172a);
    width: 40px;
    height: 40px;
  }
  h1 {
    font-size: 16px !important;
    color: var(--text-primary) !important;
  }
  padding: 8px 0;
  border-bottom: 1px solid var(--border-secondary, #e2e8f0);
}
