<div class="flex login-container">
  <div class="left w-2/3 flex justify-center items-center">
    <div class="flex items-start flex-col gap-3 w-full p-20">
      <div class="flex gap-1 items-center">
        <img
          src="assets/paysky-logo-white.svg"
          width="46px"
          height="46px"
          loading="lazy"
          alt="'logo'"
        />
        <img src="assets/paysky-title-white.svg" />
      </div>
      <h1>{{ "auth.login.appTitle" | translate }}</h1>
      <p>
        {{ "auth.login.description" | translate }}
      </p>
    </div>
  </div>
  <div class="right w-1/3 flex justify-center items-center flex-col gap-12">
    <div class="rounded-md flex justify-end w-full">
      <div class="rounded-md m-4">
        <app-language-switch class="w-1/6"></app-language-switch>
      </div>
    </div>
    <form
      class="form-container flex flex-col gap-4 w-3/4 h-fit p-4 rounded-md"
      [formGroup]="loginForm"
    >
      <h1>{{ "auth.login.title" | translate }}</h1>

      <app-qr-input
        [label]="'common.email' | translate"
        [placeholder]="'common.enterEmail' | translate"
        formControlName="username"
        [controlName]="'username'"
        [parentGroup]="loginForm"
      ></app-qr-input>
      <app-qr-password
        [label]="'common.password' | translate"
        [placeholder]="'common.enterPassword' | translate"
        formControlName="password"
        [controlName]="'password'"
        [parentGroup]="loginForm"
      ></app-qr-password>
      <span *ngIf="errorMessage" class="error-message">
        <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
        {{ errorMessage }}</span
      >
      <span class="w-full flex justify-end forget" (click)="forgetPassword()">{{
        "auth.login.forgetPassword" | translate
      }}</span>
      <button
        class="w-full submit-btn border-0 rounded-md outline-none"
        (click)="submitLogin()"
        [disabled]="loading"
      >
        <nz-icon nzType="loading" *ngIf="loading" />
        {{ loading ? "" : ("auth.login.sendOtp" | translate) }}
      </button>
    </form>
  </div>
</div>
<app-qr-modal
  [modalComponent]="otpModal"
  [isVisible]="globalServ.isModalOpened()"
></app-qr-modal>
