.custom-container {
  width: 100dvw;
  height: 100dvh;
  background-color: #004d9c;
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .wallet {
    transition: all 0.3s ease-in-out;
    background-color: #64aaf1;
    p {
      font-size: 16px;
      color: #fff;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-4px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
  }
}
