.custom-container {
  width: 100dvw;
  height: 100dvh;
  background-color: #f8fafc;
  form {
    h1 {
      font-size: 20px;
      color: var(--primary);
      font-weight: 700;
    }
    border-radius: var(--xl, 12px);
    background: var(--bg-primary, #fff);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    width: 30%;
    height: fit-content;
    .bk-btn {
      height: 36px;
    }
  }
}
.validate {
  span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}
