<div class="flex justify-between items-center custom-container flex-col">
  <form
    class="flex flex-col gap-3 rounded-md p-4 m-auto"
    [formGroup]="resetForm"
  >
    <h1>{{ "auth.change_password" | translate }}</h1>
    <app-qr-password
      [label]="'auth.old_password'"
      [placeholder]="'common.enter_old_password'"
      formControlName="currentPassword"
      [controlName]="'currentPassword'"
      [parentGroup]="resetForm"
      [showIcon]="true"
      (ngModelChange)="validate()"
    ></app-qr-password>
    <app-qr-password
      [label]="'common.enter_password_label'"
      [placeholder]="'common.enter_password'"
      formControlName="newPassword"
      [controlName]="'newPassword'"
      [parentGroup]="resetForm"
      [showIcon]="true"
      (ngModelChange)="validate()"
    ></app-qr-password>
    <app-qr-password
      [label]="'common.retype_password'"
      [placeholder]="'common.confirm_password'"
      formControlName="confirmPassword"
      [controlName]="'confirmPassword'"
      [parentGroup]="resetForm"
      [showIcon]="true"
    ></app-qr-password>
    <div
      class="flex flex-col gap-2"
      *ngIf="resetForm.get('newPassword')?.touched"
    >
      <div
        class="validate flex items-center gap-2"
        *ngFor="let item of validations"
      >
        <span
          class="flex items-center justify-center"
          [ngClass]="{ 'bg-green-500': item.valid, 'bg-red-500': !item.valid }"
          >{{ item.valid ? "✓" : "✗" }}</span
        >
        <p
          [ngClass]="{
            'text-green-500': item.valid,
            'text-red-500': !item.valid
          }"
        >
          {{ item.message | translate }}
        </p>
      </div>
      <div
        class="validate flex items-center gap-2"
        *ngIf="resetForm.get('confirmPassword')?.touched"
      >
        <span
          class="flex items-center justify-center"
          [ngClass]="{
            'bg-green-500':
              resetForm.get('confirmPassword')?.touched &&
              resetForm.get('confirmPassword')?.valid,
            'bg-red-500':
              resetForm.get('confirmPassword')?.touched &&
              resetForm.get('confirmPassword')?.invalid
          }"
          >{{
            resetForm.get("confirmPassword")?.touched &&
            resetForm.get("confirmPassword")?.valid
              ? "✓"
              : "✗"
          }}</span
        >
        <p
          [ngClass]="{
            'text-green-500':
              resetForm.get('confirmPassword')?.touched &&
              resetForm.get('confirmPassword')?.valid,
            'text-red-500':
              resetForm.get('confirmPassword')?.touched &&
              resetForm.get('confirmPassword')?.invalid
          }"
        >
          {{ "common.password_mismatch" | translate }}
        </p>
      </div>
    </div>
    <button
      class="submit-btn rounded-md"
      [disabled]="resetForm.invalid"
      (click)="submit()"
    >
      <nz-icon nzType="loading" *ngIf="loading" />
      {{ loading ? "" : ("auth.change_password" | translate) }}
    </button>
  </form>
</div>
