.content {
  padding: 0px 16px;
  width: 760px;
}
form {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0px;
}

label {
  font-weight: 600;
  color: #374151;
  font-size: 0.875rem;
}

section {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 24px;
  &.last-section {
    border: none;
    padding-bottom: 0;
  }
}
