<app-modal-header
  [title]="
    viewMode
      ? ('roles.addRole.viewRole' | translate)
      : editMode
      ? ('roles.addRole.editRole' | translate)
      : ('roles.addRole.title' | translate)
  "
></app-modal-header>
<div class="content">
  <form [formGroup]="roleGroup" class="flex flex-col gap-5">
    <section class="flex w-full flex-col gap-3">
      <app-qr-input
        class="w-full"
        [label]="'roles.addRole.roleName' | translate"
        [placeholder]="'roles.addRole.enterRoleName' | translate"
        formControlName="name"
        [controlName]="'name'"
        [parentGroup]="roleGroup"
        [required]="true"
        [disabled]="viewMode || editMode"
      ></app-qr-input>
      <div class="flex gap-3">
        <div class="flex gap-2 flex-col w-full">
          <label>{{ "roles.addRole.description" | translate }}</label>
          <textarea
            class="p-3"
            [placeholder]="'roles.addRole.description' | translate"
            formControlName="description"
            [readonly]="viewMode"
          ></textarea>
        </div>
      </div>
    </section>
    <section class="last-section">
      <label>Role permissions</label>
      <div class="flex justify-between w-full flex-col gap-2 mt-3">
        <div
          class="flex w-full justify-between wrapper flex-col"
          *ngFor="let role of roles"
        >
          <div class="flex items-center w-full justify-between">
            <label>{{ role.resource }} Managment</label>
            <nz-switch
              [formControlName]="role.resource"
              [nzDisabled]="viewMode"
              (ngModelChange)="removePermissions($event, role)"
            ></nz-switch>
          </div>
          <div
            class="switches grid grid-cols-2 w-full gap-4 mt-2"
            *ngIf="roleGroup.get(role.resource)?.value"
          >
            <div
              class="flex flex-col w-full gap-1"
              *ngFor="let item of role.permissions"
            >
              <div class="flex items-center w-full justify-between h-full">
                <label>{{ item.name }}</label>
                <nz-switch
                  [(ngModel)]="item.isAllowed"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="updatePermssion($event, item.id)"
                  [nzDisabled]="viewMode"
                ></nz-switch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<app-modal-footer
  [submitText]="'common.saveAndSubmit' | translate"
  (isSubmitted)="submit()"
  *ngIf="!viewMode"
></app-modal-footer>
