<div class="ngx-smart-input-container">
  <label *ngIf="label" class="input-label" [class.required]="required">
    {{ label }}
  </label>

  <!-- Number Input -->
  <div class="input-wrapper" [ngClass]="{ filled: filled }">
    <input
      nz-input
      [placeholder]="placeholder"
      [disabled]="disabled || isDisabled"
      [readonly]="readonly"
      type="number"
      [value]="value"
      [nzStatus]="control && control.touched && control.invalid ? 'error' : ''"
      (input)="onChange($event)"
      (blur)="touched()"
      [min]="min"
      [max]="max"
    />

    <span class="input-number-icon" *ngIf="unit">{{ unit }}</span>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
    {{ errorMessage }}
  </div>
</div>
