<div class="table-filter flex items-end w-full flex-col gap-2">
  <div class="flex items-center gap-3">
    <!-- <div class="search-bar flex">
      <input
        [(ngModel)]="searchQuery"
        [placeholder]="'common.search_placeholder' | translate"
      />
      <div class="icon flex items-center justify-center" (click)="emitSearch()">
        <img src="assets/search.svg" />
      </div>
    </div> -->
    <button
      class="submit-btn rounded-md p-2 flex gap-2"
      (click)="toggleFilter()"
    >
      <img src="assets/filter.svg" />
      {{ "common.filter" | translate }}
    </button>
  </div>
</div>
