.language-switcher-container {
  width: 100%;
  // height: 50px;
  border-radius: 4px;
}
:host #switcher ::ng-deep {
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px;
  }
  .ant-select {
    width: 100px;
  }
}
