<app-modal-header
  [title]="
    viewMode
      ? ('merchants.addMerchant.viewMerchant' | translate)
      : editMode
      ? ('merchants.addMerchant.editMerchant' | translate)
      : ('merchants.addMerchant.title' | translate)
  "
></app-modal-header>
<div class="content">
  <form [formGroup]="merchantForm" class="flex flex-col gap-3">
    <section class="flex w-full flex-col gap-3 p-2 rounded-md">
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.merchantName' | translate"
          [placeholder]="'merchants.addMerchant.enterMerchantName' | translate"
          formControlName="name"
          [controlName]="'name'"
          [parentGroup]="merchantForm"
          [required]="true"
          [disabled]="viewMode"
        ></app-qr-input>
        <app-qr-select
          formControlName="countryId"
          [controlName]="'countryId'"
          [parentGroup]="merchantForm"
          [options]="countries"
          [label]="'merchants.addMerchant.country' | translate"
          [placeholder]="'merchants.addMerchant.selectCountry' | translate"
          [required]="true"
          class="w-1/2"
          (ngModelChange)="getCity($event)"
          [disabled]="viewMode"
        ></app-qr-select>
      </div>
      <div class="flex gap-3">
        <app-qr-select
          formControlName="identificationType"
          [controlName]="'identificationType'"
          [parentGroup]="merchantForm"
          [options]="identificationTypes"
          [label]="'merchants.addMerchant.identificationType' | translate"
          [placeholder]="
            'merchants.addMerchant.selectIdentificationType' | translate
          "
          [required]="true"
          class="w-1/2"
          (ngModelChange)="updateValidation($event)"
          [disabled]="viewMode || editMode"
        ></app-qr-select>
        <app-qr-select
          formControlName="type"
          [controlName]="'type'"
          [parentGroup]="merchantForm"
          [options]="merchantTypes"
          [label]="'merchants.addMerchant.merchantTypes' | translate"
          [placeholder]="'merchants.addMerchant.selectMerchantType' | translate"
          [required]="true"
          [disabled]="viewMode"
          class="w-1/2"
        ></app-qr-select>
      </div>
      <div class="flex gap-3">
        <app-qr-select
          formControlName="cityId"
          [controlName]="'cityId'"
          [parentGroup]="merchantForm"
          [options]="cities"
          [label]="'merchants.addMerchant.city' | translate"
          [placeholder]="'merchants.addMerchant.selectCity' | translate"
          [required]="true"
          [disabled]="viewMode"
          class="w-full"
        ></app-qr-select>
      </div>
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.scheme' | translate"
          [placeholder]="'merchants.addMerchant.enterScheme' | translate"
          formControlName="scheme"
          [controlName]="'scheme'"
          [parentGroup]="merchantForm"
          [disabled]="viewMode || editMode"
          *ngIf="viewMode || editMode"
        ></app-qr-input>
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.msisdn' | translate"
          [placeholder]="'merchants.addMerchant.enterMsisdn' | translate"
          formControlName="msisdn"
          [controlName]="'msisdn'"
          [parentGroup]="merchantForm"
          [required]="true"
          [disabled]="viewMode || editMode"
        ></app-qr-input>
      </div>
      <div class="flex gap-3">
        <app-qr-select
          formControlName="mccId"
          [controlName]="'mccId'"
          [parentGroup]="merchantForm"
          [options]="mccs"
          [label]="'merchants.addMerchant.mcc' | translate"
          [placeholder]="'merchants.addMerchant.selectMcc' | translate"
          [required]="true"
          [disabled]="viewMode"
          class="w-1/2"
        ></app-qr-select>
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.address' | translate"
          [placeholder]="'merchants.addMerchant.enterAddress' | translate"
          formControlName="address"
          [controlName]="'address'"
          [parentGroup]="merchantForm"
          [required]="true"
          [disabled]="viewMode"
        ></app-qr-input>
      </div>
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.contactEmail' | translate"
          [placeholder]="'merchants.addMerchant.enterContactEmail' | translate"
          formControlName="contactEmail"
          [controlName]="'contactEmail'"
          [parentGroup]="merchantForm"
          [disabled]="viewMode"
        ></app-qr-input>
        <app-phone-input
          class="w-1/2"
          [label]="'merchants.addMerchant.contactPhone' | translate"
          [placeholder]="'merchants.addMerchant.enterContactPhone' | translate"
          formControlName="contactPhone"
          [controlName]="'contactPhone'"
          [parentGroup]="merchantForm"
          [disabled]="viewMode"
        ></app-phone-input>
      </div>
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.commercialRegNo' | translate"
          [placeholder]="
            'merchants.addMerchant.enterCommercialRegNo' | translate
          "
          formControlName="commercialRegNo"
          [controlName]="'commercialRegNo'"
          [parentGroup]="merchantForm"
          [required]="merchantForm.get('identificationType')?.value == 0"
          [disabled]="viewMode || editMode"
        ></app-qr-input>
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.issuancePlaceCode' | translate"
          [placeholder]="
            'merchants.addMerchant.enterIssuancePlaceCode' | translate
          "
          formControlName="issuancePlaceCode"
          [controlName]="'issuancePlaceCode'"
          [parentGroup]="merchantForm"
          [disabled]="viewMode || editMode"
        ></app-qr-input>
      </div>
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="
            'merchants.addMerchant.soleProprietorshipLicense' | translate
          "
          [placeholder]="
            'merchants.addMerchant.enterSoleProprietorshipLicense' | translate
          "
          formControlName="soleProprietorshipLicense"
          [controlName]="'soleProprietorshipLicense'"
          [parentGroup]="merchantForm"
          [required]="merchantForm.get('identificationType')?.value == 2"
          [disabled]="viewMode || editMode"
        ></app-qr-input>
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.serviceLicenseNumber' | translate"
          [placeholder]="
            'merchants.addMerchant.enterServiceLicenseNumber' | translate
          "
          formControlName="serviceLicenseNumber"
          [controlName]="'serviceLicenseNumber'"
          [parentGroup]="merchantForm"
          [required]="merchantForm.get('identificationType')?.value == 1"
          [disabled]="viewMode || editMode"
        ></app-qr-input>
      </div>
      <div class="flex gap-3">
        <app-qr-input
          class="w-1/2"
          [label]="'merchants.addMerchant.nationalId' | translate"
          [placeholder]="'merchants.addMerchant.enterNationalId' | translate"
          formControlName="nationalId"
          [controlName]="'nationalId'"
          [parentGroup]="merchantForm"
          [required]="merchantForm.get('identificationType')?.value == 3"
          [disabled]="viewMode || editMode"
        ></app-qr-input>
        <app-qr-select
          formControlName="feeProfileId"
          [controlName]="'feeProfileId'"
          [parentGroup]="merchantForm"
          [options]="feesProfiles"
          [label]="'merchants.addMerchant.feeProfile' | translate"
          [placeholder]="'merchants.addMerchant.selectFeeProfile' | translate"
          [required]="true"
          [disabled]="viewMode"
          class="w-1/2"
        ></app-qr-select>
      </div>

      <div class="flex gap-3">
        <div class="flex items-center justify-between w-1/2">
          <label>{{
            "merchants.addMerchant.canPerformRegistration" | translate
          }}</label>
          <nz-switch
            formControlName="canPerformRegistration"
            [nzDisabled]="viewMode"
          ></nz-switch>
        </div>
      </div>
    </section>
  </form>
</div>
<app-modal-footer
  *ngIf="!viewMode"
  [submitText]="'common.saveAndSubmit' | translate"
  (isSubmitted)="submit()"
></app-modal-footer>
